.skills-wrapper {
  display: flex;
  flex-direction: column;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 200px;
  row-gap: 100px;
}
.skill-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill-name {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-ribbon {
  width: 200px;
  height: 200px;
  border-left: 5px solid transparent;
  border-right: 5px solid red;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  border-radius: 100%;
  background: beige;
  transform: rotate(45deg);
}
